<div class="component">
  <div>
    <span class="page-title">PRLI Create</span>
  </div>

 
<div class="container form" *ngIf="prli">

<div class="form-group row">
    <label class="col-form-label col-sm-2">Name of product:</label>
    <div class="col-sm-8">
      <input [(ngModel)]="prli.product.name" class="form-control" type="text" name="name"
        #name="ngModel" required minlength="8" disabled>
    </div>
    <div *ngIf="name.invalid && name.touched" class="col-form-label col-sm-2 text-danger">
      <label *ngIf="name?.errors.required">Required</label>
      <label *ngIf="name?.errors.minlength">8 chars min</label>
    </div>
  </div>

  <div class="container form" *ngIf="prli">

    <div class="form-group row">
        <label class="col-form-label col-sm-2">Total:</label>
        <div class="col-sm-8">
          <input [(ngModel)]="prli.product.price" class="form-control" type="text" name="price"
            #price="ngModel" required minlength="8" disabled>
        </div>
        <div *ngIf="price.invalid && price.touched" class="col-form-label col-sm-2 text-danger">
                  </div>
      </div>
 
        <div>
          <button class="btn btn-primary" (click)="save()">Destroy Jupiter!</button>
        </div>

</div>
</div> 
</div>


			
	
	
