<div>
  <div>
    <span>Purchase Request detail</span>
  <p *ngIf='!purchaserequest'>Retrieving data...this may take a while...</p>
  <table class="table table-sm" *ngIf="purchaserequest">
<tr><td>Id:</td><td>{{ purchaserequest.id }}</td></tr>
<tr><td>Total:</td><td>{{ purchaserequest.total }}</td></tr>
<tr><td>Date Submitted:</td><td>{{ purchaserequest.submittedDate }}</td></tr>
<tr><td>Date Needed</td><td>{{ purchaserequest.dateNeeded }}</td></tr>
<tr><td>Delivery Mode</td><td>{{ purchaserequest.deliveryMode }}</td></tr>
<tr><td>User:</td><td>{{ purchaserequest.user.userName }}</td></tr>
<tr><td>Status:</td><td>{{ purchaserequest.status }}</td></tr>
<tr><td>Reason for Rejection:</td><td>{{ purchaserequest.reasonForRejection }}</td></tr>
  
  </table>
  <div>
    <button class="btn btn-danger" (click)="delete()">Delete</button>
  </div>
</div>
</div>
 




