<div>
  <div>
    <span>Purchase Request detail</span>
  <p *ngIf='!purchaserequest'>Retrieving data...this may take a while...</p>
  <table class="table table-sm" *ngIf="purchaserequest">
<tr><td>Id:</td><td>{{ purchaserequest.id }}</td></tr>
<tr><td>Total:</td><td>{{ purchaserequest.total }}</td></tr>
<tr><td>Date Submitted:</td><td>{{ purchaserequest.submittedDate }}</td></tr>
<tr><td>Price</td><td>{{ purchaserequest.DateNeeded }}</td></tr>
<tr><td>Unit</td><td>{{ purchaserequest.DeliveryMode }}</td></tr>
<tr><td>User:</td><td>{{ purchaserequest.user.name }}</td></tr>
<tr><td>Unit</td><td>{{ purchaserequest.status }}</td></tr>
<tr><td>Unit</td><td>{{ purchaserequest.reasonForRejection }}</td></tr>
  
  </table>
  <div>
    <button class="btn btn-danger" (click)="delete()">Delete</button>
  </div>
</div>
</div>
 




