<div>
  <div>
    <span>Purchase Request List</span>
    | <a routerLink='/purchaserequests/create'>Create New</a>
  </div>
  <table class="table table-sm" *ngIf="purchaserequests">
<thead>
  <tr>
    <td>Id</td>
    <td>User</td>
    <td>Date Needed</td>
    <td>Delivery Mode</td>
    <td>Total</td>
    <td>Date Submitted</td>
    <td>Status</td>
    <td>Reason for Rejection</td>
        
  </tr>
</thead>
<tbody>
  <tr *ngFor='let purchaserequest of purchaserequests | sortPurchaserequests'>
    <td> {{ purchaserequest.id }}</td>
    <td> {{ purchaserequest.user.name }}</td>
    <td>{{ purchaserequest.DateNeeded }} </td>
    <td>{{ purchaserequest.DeliveryMode }}</td>
    <td>{{ purchaserequest.total }}</td>
    <td>{{ purchaserequest.submittedDate }}</td>
    <td>{{ purchaserequest.status }}</td>
    <td>{{ purchaserequest.reasonForRejection }}</td>
     
    <td>
      <a routerLink='/purchaserequests/detail/{{purchaserequest.id}}'>Detail</a>
      | <a routerLink='/purchaserequests/edit/{{purchaserequest.id}}'>Edit</a>
    </td>
  </tr>
</tbody>
  </table>
</div> 

	
